config/prod.py
config/local.py
*static/QA*
connection.yaml
staging_connection.yaml
google-cloud-sdk/*
cloud_sql_proxy*
env/*
static/gen*

\.main.py\.*
*.pyc
*.swp
*.swi
*.swh
*.swj
*.swk
*.swl
*.swm
*.swn
*.swo
*.swe
*.swf
