Flask==1.1.2
gunicorn==19.3.0
eventlet
flask-socketio
flask-bootstrap
flask-cors
flask-nav
flask-session
flask-restful
Flask-SQLAlchemy
flask-triangle
flask-wtf
google-cloud-storage
marshmallow
pymysql
sqlalchemy

