{% extends "bootstrap/base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/angular.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/wits-app.js') }}" type="module"></script>

    <script type="application/javascript">
        $(document).ready(function(){
            $('#login').click(function() {
                $.ajax({
                    url: "{{ url_for('login') }}",
                    type: "POST",
                    dataType: "json",
                    data: {"username": $("#username").val(), "password": $("#password").val() },
                    success: function(data) {
                        if (data.error) {
                            $(".alert-error").text(data.error).show();
                            $("#username").val("");
                            $("#password").val("");
                            return ;
                        } 
                        location.reload(true);
                    },
                    error: function(data) { 
                        $("#error-alert").text(data.error).show();
                    }
                }); 
            });
        });
    function doLogout() {
        $.ajax({
            url: "{{ url_for('logout') }}",
            type: "POST",
            dataType: "json",
            data: { },
            success: function(data) {
                if (data.error) {
                    $(".alert-error").text(data.error).show();
                    return ;
                } 
                location.reload(true);
            },
            error: function(data) { 
                $("#error-alert").text(data.error).show();
            }
        }); 
    }
    </script>

{% endblock %}

{% block navbar %}
    {{nav.mynavbar.render()}}
{% endblock %}

{% block content %}

{% if "user" in session %}
    {% block main_content %}
    {% endblock %}
{% else %}
        <div class="page-header">
            <h1>Login </h1>
        </div>
        <div class="row">
            <div class="col-lg-2">&nbsp;</div>
            <div class="col-lg-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Create New Game
                    </div>
                    <div class="panel-body">
                        <div class="alert alert-danger alert-error collapse">dpetek-debug</div>
                        <div class="row">
                            <div class="col-sm-10">
                                    <div class="row">
                                    <div class="col col-lg-4">
                                        <input type="text" class="form-control" id="username" placeholder="Name">
                                    </div>
                                    <div class="col col-lg-4">
                                        <input type="password" class="form-control" id="password" placeholder="Password">
                                    </div>
                                    <div class="col col-lg-4">
                                        <button class="btn btn-default" type="button" id="login">Enter</button>
                                    </div>
                                    </div>
                                <hr />
                                <div class="alert alert-info">
                                    If user doesn't exist, new one will be created using provided password. If user exists from before, password will be verified. Please don't use your real passwords. This is just a fun project and security is definitelly not a pririty.
                                </div>
                            </div>
                            <div class="col-sm-2">&nbsp;</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">&nbsp;</div>
        </div>
{% endif %}

{% endblock %}
