{% extends "base/layout.html" %}

{% block title %}Shelter Games{% endblock %}

{% block styles %}
    {{ super() }}
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script type="application/javascript">
        function refreshScores() {
                $.ajax({
                url: "{{ url_for('wits_results') }}",
                type: "POST",
                dataType: "json",
                data: {"id": "{{ game.id }}"},
                success: function(data) {
                    if (data.error) {
                        console.log("Error fetching results: " + data.error)
                        return;
                    }
                    $("#wits-results-table tbody tr").remove();
                    data.players.forEach(function(row) {
                        $("#wits-results-table").find('tbody')
                        .append($('<tr>')
                            .append($('<td>').text(row.user.name))
                            .append($('<td>').text(row.num_wins))
                            .append($('<td>').text(row.coins))
                        );
                    });
                },
                error: function(data) { 
                    console.log("Error fetching results (.error): " + data)
                }
            });               
        }

        function updateBets() {
            $(".wits-game-bets").each(function(){
                var that = $(this);
                $.ajax({
                    url: "{{ url_for('wits_bets') }}",
                    type: "POST",
                    dataType: "json",
                    data: {"answer_id": $(this).attr("answer_id") },
                    success: function(data) {
                        if (data.error) {
                            $("#error-alert").text(data.error).show();
                            return;
                        }
                        that.html("");
                        data.bets.forEach(function(row){
                            that.append($('<div clas="user-bet">')).html(row.user.name + row.amount);
                        });
                    },
                    error: function(data) { 
                        $("#error-alert").text(data.error).show();
                    }
                });
            });
        }

        $(document).ready(function(){
            $('#skip-question').click(function() {
                $.ajax({
                    url: "{{ url_for('wits_skip') }}",
                    type: "POST",
                    dataType: "json",
                    data: {"id": $(this).attr("value") },
                    success: function(data) {
                        if (data.error) {
                            $("#error-alert").text(data.error).show();
                            return;
                        }
                        location.reload(true);
                    },
                    error: function(data) { 
                        $("#error-alert").text(data.error).show();
                    }
                }); 
            });
            $('#answer-question').click(function() {
                $("#answer-error-alert").hide();
                $.ajax({
                    url: "{{ url_for('wits_answer') }}",
                    type: "POST",
                    dataType: "json",
                    data: {"answer_value": $("#answer-value").val(), "board_id": "{{ board.id }}" },
                    success: function(data) {
                        if (data.error) {
                            $("#answer-error-alert").text(data.error).show();
                            return;
                        }
                        location.reload(true);
                    },
                    error: function(data) { 
                        $("#error-alert").text(data.error).show();
                    }
                }); 
            });

            $('#finalize-answers').click(function() {
                $.ajax({
                    url: "{{ url_for('wits_advance') }}",
                    type: "POST",
                    dataType: "json",
                    data: {"board_id": "{{ board.id }}", "from_phase": 1 },
                    success: function(data) {
                        if (data.error) {
                            $("#error-alert").text(data.error).show();
                            return;
                        }
                        location.reload(true);
                    },
                    error: function(data) { 
                        $("#error-alert").text(data.error).show();
                    }
                }); 
            });
            $('#toggle-answer').click(function() {
                $.ajax({
                    url: "{{ url_for('wits_advance') }}",
                    type: "POST",
                    dataType: "json",
                    data: {"board_id": "{{ board.id }}", "from_phase": 2 },
                    success: function(data) {
                        if (data.error) {
                            $("#error-alert").text(data.error).show();
                            return;
                        }
                        location.reload(true);
                    },
                    error: function(data) { 
                        $("#error-alert").text(data.error).show();
                    }
                }); 
            });
            $('#input-answer-and-finalize').click(function() {
                $.ajax({
                    url: "{{ url_for('wits_advance') }}",
                    type: "POST",
                    dataType: "json",
                    data: {"board_id": "{{ board.id }}", "from_phase": 3, "answer_value": $("#correct-answer-value").val() },
                    success: function(data) {
                        if (data.error) {
                            $("#error-alert").text(data.error).show();
                            return;
                        }
                        location.reload(true);
                    },
                    error: function(data) { 
                        $("#error-alert").text(data.error).show();
                    }
                }); 
            });
            $('#next-question').click(function() {
                $.ajax({
                    url: "{{ url_for('wits_advance') }}",
                    type: "POST",
                    dataType: "json",
                    data: {"board_id": "{{ board.id }}", "from_phase": 4},
                    success: function(data) {
                        if (data.error) {
                            $("#error-alert").text(data.error).show();
                            return;
                        }
                        location.reload(true);
                    },
                    error: function(data) { 
                        $("#error-alert").text(data.error).show();
                    }
                }); 
            });
            
            $('.answer-bet').click(function() {
                $('#answer-card').attr('disabled','disabled');
                $.ajax({
                    url: "{{ url_for('wits_bet') }}",
                    type: "POST",
                    dataType: "json",
                    data: {"board_id": "{{ board.id }}",
                           "amount": $(this).attr("amount"), 
                           "answer_id": $(this).attr("answer")},
                    success: function(data) {
                        if (data.error) {
                            $("#answers-error-alert").text(data.error).show();
                            return;
                        }
                        updateBets();
                        refreshScores();
                    },
                    error: function(data) { 
                        $("#answers-error-alert").text(data.error).show();
                    }
                }); 
            });

            {% if board.phase == 1 %}
                setInterval(function(){
                    $("#answers-container-full").load(location.href + " #answers-container-full");
                }, 3000);
            {% endif %}

            {% if board.phase == 9 %}
                setInterval(function(){
                    updateBets();
                }, 3000);               
            {% endif %}
            setInterval(function(){
                refreshScores();
            }, 3000);

        });
    </script>
{% endblock %}

{% block main_content %}
{{ super() }}
<ol class="breadcrumb">
  <li>Wits & Wagers</li>
  <li>{{ game.name }}</li>
</ol>

<div class="container-fluid">
    <div class="col-lg-9">
        <!-- QUESTION AND ANSWER PANEL -->
        <div class="container-fluid">
            <div class="col-lg-1">&nbsp;</div>
            <div class="col-lg-11">
                <div class="alert alert-danger hidden" id="error-alert" role="alert"></div>

                <div class="panel panel-default">
                    <div class="panel-body no-padding bg-info">
                        <div class="container-fluid">
                                {% if board.phase <= 2 %}
                                    <div class="container-fluid  no-padding" id="question-div">
                                        <img src="{{ question_file }}" class="img-responsive wide-img img-rounded" alt="Question" />
                                    </div>
                                {% else %}
                                    <div class="container-fluid no-padding" id="answer-div">
                                        <img src="{{ answer_file }}" class="img-responsive wide-img img-rounded" alt="Answer" />
                                    </div>
                                {% endif %}
                        </div><!-- container -->
                    </div><!-- panel body -->
                </div> <!-- panel !-->
            </div> <!-- col-lg-10 -->
        </div> <!-- container-fluid -->
        <!-- END QUESTION AND ANSWER PANEL -->

        <!-- YOUR ANSWER PANEL -->
        {% if not my_answer and board.phase == 1 %}
        <div class="container-fluid">
            <div class="col-lg-1">&nbsp;</div>
            <div class="col-lg-11">
                <div class="alert alert-danger collapse" id="answer-error-alert" role="alert"></div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="container-fluid">               
                            <div class="col-lg-2">&nbsp;</div>
                            <div class="col-lg-8">
                                <div class="input-group">
                                <input type="text" class="form-control" 
                                    id="answer-value"
                                    placeholder="What's your answer?" {% if board.phase != 1 %}disabled{% endif %}>
                                <span class="input-group-btn">
                                    <button class="btn btn-default
                                        {% if board.phase != 1 %}disabled{% endif %}"
                                        type="button" id="answer-question">Answer</button>
                                </span>
                                </div><!-- /input-group -->
                            </div> <!--col-sm-8-->
                            <div class="col-lg-2">&nbsp;</div>
                        </div><!-- container -->
                    </div><!-- panel body -->
                </div> <!-- panel !-->
            </div> <!-- col-lg-10 -->
        </div> <!-- container-fluid -->
        {% endif %}
        <!-- END YOUR ANSWER PANEL -->


        <!-- ANSWERS LIST -->
        {% if board.phase != 3 %}
        <div class="container-fluid" id="answers-container-full">
            <div class="col-lg-1">&nbsp;</div>
            <div class="col-lg-11">
                <div class="alert alert-danger collapse" id="answers-error-alert" role="alert"></div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                    {% if board.phase == 1 %}
                        Answers:
                    {% elif board.phase == 2 %}
                        Place your bet on existing answers:
                    {% elif board.phase == 4 %}
                        Winner and scores:
                    {% endif %}
                        </div> <!-- panel-heading -->
                    <div class="panel-body bg-info" id="answers-container">
                        <div class="container-fluid">               

                        {% if not all_answers %}
                            There's no answers to vote on.
                        {% else %}
                            {% for ans in all_answers %}

                            <!-- Thumbnail begin -->
                            <div class="col-sm-3">
                                <div class="panel panel-default answer-card">
                                    <div class="panel-body {% if ans.won and ans.won > 0 %}bg-success{%endif%}" >
                                        <div class="container-fluid">
                                            <h4 class="p-answer">
                                                <span class="badge badge-primary lg-font answer-bage">
                                                {% if board.phase == 1 and ans.user.id|string != session["user"]["id"]|string %}
                                                    <span class="glyphicon glyphicon-question-sign"></span>
                                                {% else %}
                                                    {{ norm_answer(ans.answer) }}
                                                {% endif %}
                                                </span>
                                                </h4>
                                                <h5 class="p-user">
                                                    by {{ ans.user.name }}
                                                    {% if ans.user.id|string == session["user"]["id"]|string %} (you){%endif%}
                                                </h5>
                                        {% if board.phase == 2 %}
                                        <div class="container-fluid wits-game-bets" answer_id="{{ans.id}}">
                                            {% for bet in game_bets %}
                                                {% if bet.answer_id == ans.id %}
                                                <div class="user-bet">{{bet.user.name}} <span class="badge">+{{bet.amount}}</span></div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                            <div class="container-fluid no-padding">
                                                <table class="betting-table">
                                                <tr>
                                                    <td>
                                            <a class="btn btn-default answer-bet margin-sm"
                                                     amount=1  answer="{{ ans.id }}" role="button">+1</a>
                                                    </td>
                                                    <td>
                                            <a class="btn btn-default answer-bet margin-sm"
                                                     amount=5  answer="{{ ans.id }} "role="button">+5</a>
                                                    </td>
                                                    <td>
                                            <a class="btn btn-default answer-bet margin-sm"
                                                     amount=10 answer="{{ ans.id }}" role="button">+10</a>
                                                    </td>
                                                </tr>
                                                </table>
                                            </div>
                                        {% endif %}
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Thumbnail end -->

                            {% endfor %}
                        {% endif %}

                        </div><!-- container -->
                    </div><!-- panel body -->
                </div> <!-- panel !-->
            </div> <!-- col-lg-10 -->
        </div> <!-- container-fluid -->
        {% endif %}
        <!-- END ANSWERS LIST -->

    </div><!-- <div class="col-lg-10"> -->

    <div class="col-lg-3">

        <!-- ADMIN SECTOIN -->
        {% if session["user"]["admin"] > 0 %}
        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-body bg-danger">
                    <div class="container-fluid">
                            {% if board.phase == 3 %}
                                <div class="input-group">
                                    <input type="text" class="form-control" id="correct-answer-value" placeholder="Board Answer..">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default"
                                            value="{{game["id"]}}" id="input-answer-and-finalize" aria-label="Left Align">
                                            <span class="glyphicon glyphicon-forward" aria-hidden="true"></span> Input Answer
                                        </button>
                                    </span>
                                </div><!-- /input-group -->
                            {% elif board.phase == 1 %}
                                <button type="button" class="btn btn-default
                                    {% if board.phase != 1 %}disabled{% endif %}"
                                    value="{{board["id"]}}" id="finalize-answers" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Finalize Answers
                                </button>
                            {% elif board.phase == 2 %}
                                <button type="button" class="btn btn-default"
                                    value="{{game["id"]}}" id="toggle-answer" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Toggle Answer
                                </button>
                            {% elif board.phase == 4 %}
                                <button type="button" class="btn btn-default"
                                    value="{{game["id"]}}" id="next-question" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Next Question
                                </button>
                            {% endif %}
                    </div><!-- container -->
                </div><!-- panel body -->
            </div> <!-- panel !-->
        </div> <!-- ADMIN SECTION -->
        {% endif %}


        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Leaderboard
                </div> <!-- panel-heading -->
                <div class="panel-body bg-primary">
                    <div class="container-fluid">               
                        <table class="table table-condensed table-dark" id="wits-results-table">
                            <thead>
                                <tr>
                                <th>Name</th>
                                <th>Wins</th>
                                <th>Coins</th>
                                <tr>
                            <thead>
                            <tbody>
                                {% for player in game_players %}
                                <tr>
                                    <td>{{ player.user.name }}</td>
                                    <td>{{ player.num_wins }} </td>
                                    <td>{{ player.coins }}</td>
                                <tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div><!-- container -->
                </div><!-- panel body -->
            </div> <!-- panel !-->
        </div> <!--container-->

    </div><!-- <div class="col-lg-4">-->
</div> <!-- <div class="container-fluid"> -->

{% endblock %}
