{% extends "base/layout.html" %}
{% block title %}Wits and Wagers{% endblock %}

{% block styles %}
{{ super() }}
{% endblock %}

{% block scripts %}
{{ super() }}

<script type="application/javascript">
    $(document).ready(function(){
        $('#create-game').click(function() {
            $.ajax({
                url: "{{ url_for('wits_create') }}",
                type: "POST",
                dataType: "json",
                data: {"name": $('#game-name').val() },
                success: function(data) {
                    if (data.error) {
                        $("#error-alert").text(data.error).show();
                        return;
                    }
                    $('#game-name').val("")
                    $("#active-games").load(location.href + " #active-games");
                },
                error: function(data) { 
                    $("#error-alert").text(data.error).show();
                }
            });
        });

        $('.delete-game').click(function(){
             $.ajax({
                url: "{{ url_for('wits_delete') }}",
                type: "POST",
                dataType: "json",
                data: {"id": $(this).attr("value") },
                success: function(data) {
                    if (data.error) {
                        $("#error-alert").text(data.error).show();
                        return;
                    }
                    $("#active-games").load(location.href + " #active-games");
                },
                error: function(data) { 
                    $("#error-alert").text(data.error).show();
                }
            });           
        });

        $(".enter-game").click(function(){
              $.ajax({
                url: "{{ url_for('wits_enter') }}",
                type: "POST",
                dataType: "json",
                data: {"id": $(this).attr("value") },
                success: function(data) {
                    if (data.error) {
                        $("#error-alert").text(data.error).show();
                        return;
                    }
                    $(location).attr('href', "wits/game/" + data.game_id);
                },
                error: function(data) { 
                    $("#error-alert").text(data.error).show();
                }
            });           
        });
    });
</script>
{% endblock %}

{% block main_content %}
{{super()}}

<div class="row">
    <div class="col-lg-2">&nbsp;</div>
    <div class="col-lg-8">
        <div class="alert alert-danger hidden" id="error-alert" role="alert"></div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Active games
            </div>
            <div class="panel-body">
                <ul class="list-group" id="active-games">
                    {% for game in games %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm-9">
                                {% if game.id in my_games %}
                                <a href="{{ url_for('wits_game', id=game.id) }}"> {{ game.name }}</a>
                                {% else %}
                                    {{ game.name }}
                                {% endif %}
                            </div>
                            <div class="col-sm-3">
                                {% if session["user"]["admin"] > 0 %}
                                <button type="button" class="btn btn-default delete-game" value="{{game["id"]}}" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </button>
                                {% endif %}
                                {% if game.id not in my_games %}
                                    <button type="button" class="btn btn-default enter-game" value="{{game["id"]}}" aria-label="Left Align">
                                        <span class="glyphicon glyphicon-play" aria-hidden="true"></span>Enter
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    </li>
                    {%endfor%}
                </ul>
            </div>
        </div>
        {% if session["user"]["admin"] > 0 %}
        <div class="panel panel-default">
            <div class="panel-heading">
                Create New Game
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="input-group">
                            <input type="text" class="form-control" id="game-name" placeholder="Game Name ...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" id="create-game">Create</button>
                            </span>
                        </div><!-- /input-group -->
                    </div>
                    <div class="col-sm-4">&nbsp;</div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="col-lg-2">&nbsp;</div>
</div>
{% endblock %}
